html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* solo bloquea scroll horizontal */
    background-color: black;
    color: white;
}

.sebastian-banner-section {
    width: 100%;
    margin: 0;
    padding: 0; 
    margin-bottom: 120px;
}

.sebastian-banner {
    height: 70vh; 
    width: 100%;

    /* Configuración de la imagen de fondo */
    background-image: url('SEMmultimedia/IMG_12..jpg'); 
    background-size: cover;      /* Asegura que la imagen cubra todo el banner */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */

    /* Centrar el texto con Flexbox */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: flex-end; /* Contenido hasta la parte inferior del banner */
}

.sebastian-banner-content {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px 40px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
}

.sebastian-banner-content h1 {
    font-size: 4em;
    margin: 0;
}


.link-to-story {
    position: relative;
    z-index: 100;
}

.story-container {
    box-sizing: border-box; 
    width: 90%; 
    max-width: 900px;
    margin: 20px auto 80px auto; 
    padding: 20px; 
}

#story-link-main {
    display: block; 
    position: relative; 
    z-index: 100;
    width: 90%; 
    max-width: 900px; 
    margin: 60px auto 20px auto; 
    text-align: left;
    color: white; 
    text-align: left;
    font-size: 1.5em; 
    padding-left: 0; 
}

.story-link-main a.story-link {
    color: white !important; 
    text-decoration: none; 
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* Lista con los cuentos de Dana Abigail */
.sebastian-stories-list{
    margin-bottom: 80px;
    padding: 40px;
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* Media queries para responsividad */
@media screen and (max-width: 1024px) {
    
    /* --- Banner --- */
    .sebastian-banner-content h1 {
        font-size: 3em; /* Reducir el tamaño de la fuente */
    }
    
    /* --- Contenedor de la Historia --- */
    .story-container {
        width: 95%; /* Usar un poco más de ancho de pantalla */
        margin: 20px auto 70px auto;
        padding: 15px; 
    }
    
    /* --- Enlace Principal (#story-link-main) --- */
    #story-link-main {
        width: 95%; 
        font-size: 1.3em; /* Reducir el tamaño de la fuente del enlace */
        margin-top: 40px;
        margin-bottom: 15px;
    }

    /* --- Lista de Historias --- */
    .sebastian-stories-list {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    
    /* --- Banner --- */
    .sebastian-banner {
        height: 50vh; /* Reducir la altura del banner */
    }
    
    .sebastian-banner-content {
        padding: 10px 15px; /* Reducir el padding */
    }
    
    .sebastian-banner-content h1 {
        font-size: 2em; /* Reducir la fuente del título */
    }
    
    /* --- Sección General --- */
    .sebastian-banner-section {
        margin-bottom: 80px; /* Reducir el margen inferior del banner */
    }

    /* --- Contenedor de la Historia --- */
    .story-container {
        width: 95%; /* Maximizar el ancho del contenedor */
        margin: 10px auto 40px auto; /* Ajustar márgenes verticales */
        padding: 10px;
    }
    
    /* --- Enlace Principal (#story-link-main) --- */
    #story-link-main {
        width: 95%;
        font-size: 1.1em; /* Fuente más pequeña para móviles */
        margin-top: 30px; 
        margin-bottom: 10px;
    }

    /* --- Lista de Historias --- */
    .sebastian-stories-list {
        padding: 10px;
        margin-bottom: 40px;
    }
}